/*
seletor{
    propriedade: valo;
}
*/

/*
"*" Seletor Universaal
*/

* {
    /*Margin = Margem Externa
      Padding = Margem Interna
      Box-sizing =  
*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8a8a8a;
}

/*display:flex = display flexivel
  flex-direction = direção da flexibilidade -> row = lado
  aling-itens = alinhação dos itens do container
  justify-content = justificação de alinhamento do conteudo dentro do container 
  gap = espaçamento entre os conteudos de session 
*/
header {
    background-color: #545c5f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 13vh;

}

#titulo {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 50px;
}

#titulo i {
    font-size: 25px;
    transition: all 1s ease;
}

#titulo i:hover {
    transform: rotate(-45deg)
}

#titulo h1 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navegacao nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#navegacao nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

#navegacao nav a:hover {
    border-bottom: 2px solid white;
    font-weight: 700;
}

#login {
    margin-right: 50px;
}

#login button {
    width: 100px;
    height: 30px;
    background-color: #72939c;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all 1s ease;
}

#login button:hover {
    background-color: #dedad7;
    border: 2px solid #72939c;
    color: #72939c;

}

main {
    min-height: 72vh;
}





footer {
    background-color: #545c5f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 13vh;
}

#fcontainer1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-left: 50px;
}

#fcontainer2 {
    gap: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 9px;
}

#fcontainer3 i {
    color: #72939c;
    font-size: 40px;
    margin-right: 50px;
    transition: 0.5 all;
}

#fcontainer3 i:hover{
    background-color: #dedad7;
    color: #72939c;
    border-radius: 8px;
    transition: all 0.5s ease; 
    
}

  