/*
seletor{
    propriedade: valo;
}
*/

/*
"*" Seletor Universaal
*/

* {
    /*Margin = Margem Externa
      Padding = Margem Interna
      Box-sizing =  
*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8a8a8a;
}

/*display:flex = display flexivel
  flex-direction = direção da flexibilidade -> row = lado
  aling-itens = alinhação dos itens do container
  justify-content = justificação de alinhamento do conteudo dentro do container 
  gap = espaçamento entre os conteudos de session 
*/
header {
    background-color: #545c5f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 13vh;

}

#titulo {
    color: #00c0f5;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 50px;
}

#titulo i {
    font-size: 25px;
    transition: all 1s ease;
    color: #00c0f5;
}

#titulo i:hover {
    transform: rotate(-45deg)
}

#titulo h1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#navegacao nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#navegacao nav a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#navegacao nav a:hover {
    border-bottom: 2px solid white;
    font-weight: 700;
}

#login {
    margin-right: 50px;
}

#login button {
    width: 100px;
    height: 30px;
    background-color: #00c8ff;
    color: white;
    font-weight: 750;
    border-radius: 8px;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all 1s ease;
}

#login button:hover {
    background-color: #dedad7;
    border: 2px solid #00c8ff;
    color: #00c6fd;

}





















main{
    height: 71vh;
}

























footer{
   
    background-color: #545c5f;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 50px;

}

#desenvolvedor{

    gap: 5px;
    display: flex;
    flex-direction: column;

}

.legenda{

font-size: 11px;
color: white;
font-family: Arial, Helvetica, sans-serif;


}

.texto{

font-size: 15px;
color:#00c0f5;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
margin-bottom: 7px;

}

#redessociais{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redessociais-link {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.redessociais-link:hover{
    font-weight: 800;
}

#redessociais i{
    
    color: #ffffff;
    font-size: 25px;

}

.textolink{

    color: #00c0f5;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

#contato{

display: flex;
flex-direction: column;
gap: 20px;

}

#contato i{
    
    color: #ffffff;
    font-size: 25px;

}

.contato-link{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contato-link:hover{

    font-weight: 700;

}

.textocontato{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #00c0f5;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

